<div *ngIf="stations.length > 0; else noStations">
    <div *ngFor="let station of stations" class="my-5 border rounded-lg shadow-md p-4 bg-white">
        <h2 class="text-lg font-semibold mb-2">{{ station.Name }}</h2>

        <!-- Table with Skeleton Loader -->
        <div *ngIf="!isLoadingMap[station.Id]; else skeletonLoader">
            <div *ngIf="(stationDataFeedMap[station.Id] && stationDataFeedMap[station.Id].length > 0); else noChannels">

                <div class="overflow-x-auto">
                    <table class="w-full min-w-max border-collapse border border-gray-300">
                        <thead>
                            <tr class="bg-secondary text-primary">
                                <th class="border border-gray-300 px-4 py-2">Channel Name</th>
                                <th class="border border-gray-300 px-4 py-2">Value</th>
                                <th class="border border-gray-300 px-4 py-2">Units</th>
                                <th class="border border-gray-300 px-4 py-2">Logged Time</th>
                                <th class="border border-gray-300 px-4 py-2">CPCB Standard</th>
                                <th class="border border-gray-300 px-4 py-2">Hourly Average</th>
                                <th class="border border-gray-300 px-4 py-2">Availability</th>
                                <!-- <th class="border border-gray-300 px-4 py-2">Status</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let feed of stationDataFeedMap[station.Id]">
                                <td class="border border-gray-300 px-4 py-2">{{ feed.ChannelName }}
                                    <!-- <i *ngIf="!feed.Active" class="fa text-red-500 fa-power-off"></i> -->
                                </td>
                                <td class="border border-gray-300 px-4 py-2"
                                    [ngClass]="{'text-red-500':feed.ChannelValue?false:true}">
                                    {{ feed.ChannelValue ? feed.ChannelValue : 'NA' }}
                                    <span *ngIf="feed.ChannelValue > feed.PcbLimit">

                                    </span>
                                </td>
                                <td class="border border-gray-300 px-4 py-2">{{ feed.Units }}</td>
                                <td class="border border-gray-300 px-4 py-2">{{ feed.ChannelDataLogTime | date:
                                    'dd-MMM-yyyy HH:mm'
                                    }}
                                    <span *ngIf="!feed.ChannelDataLogTime">No record</span>
                                    <span class="text-red-500 pl-4"
                                        *ngIf="isDelayed(feed.ChannelDataLogTime)">Delayed</span>
                                </td>
                                <td class="border border-gray-300 px-4 py-2">{{ feed.PcbLimit }}</td>
                                <td class="border border-gray-300 px-4 py-2">{{ feed.Average }}</td>
                                <td class="border border-gray-300 px-4 py-2" [ngClass]="{
                                    'text-red-500': feed.Availability === 0,
                                    'text-orange-500': feed.Availability > 0 && feed.Availability < 50,
                                    'text-yellow-500': feed.Availability >= 50 && feed.Availability < 80,
                                    'text-green-500': feed.Availability >= 80
                                  }">{{ feed.Availability > 100 ? '100%' :
                                    feed.Availability + '%' }}</td>
                                <!-- <td class="border border-gray-300 px-4 py-2 font-semibold"
                                    [ngClass]="feed.Active ? 'text-green-600' : 'text-red-600'">
                                    {{ feed.Active ? 'Active' : 'Shutdown' }}
                                </td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-12 gap-4">
                    <!-- Overview Graph - Takes 100% on small screens, 75% on medium+ screens -->
                    <div class="col-span-1 md:col-span-7">
                        <app-overview-graph [Station]="station"></app-overview-graph>
                    </div>

                    <!-- Overview Exceedance (Pie Chart) - Takes 100% on small screens, 25% on medium+ screens -->
                    <div class="col-span-1 md:col-span-5">
                        <app-overview-exceedance [Station]="station"></app-overview-exceedance>
                    </div>
                </div>


            </div>
        </div>

        <!-- No Channels Message -->
        <ng-template #noChannels>
            <p class="text-center text-gray-500">No Channels Available</p>
        </ng-template>

        <!-- Skeleton Loader -->
        <ng-template #skeletonLoader>
            <div class="animate-pulse space-y-2">
                <!-- Table header skeleton -->
                <div class="flex space-x-2">
                    <div class="h-10 bg-secondary rounded w-1/6"></div>
                    <div class="h-10 bg-secondary rounded w-1/3"></div>
                    <div class="h-10 bg-secondary rounded w-1/4"></div>
                    <div class="h-10 bg-secondary rounded w-1/5"></div>
                    <div class="h-10 bg-secondary rounded w-1/5"></div>
                </div>

                <!-- Table rows skeleton -->
                <div *ngFor="let _ of [1,2,3,4,5]" class="flex space-x-2">
                    <div class="h-6 bg-gray-200 rounded w-1/6"></div>
                    <div class="h-6 bg-gray-200 rounded w-1/3"></div>
                    <div class="h-6 bg-gray-200 rounded w-1/4"></div>
                    <div class="h-6 bg-gray-200 rounded w-1/5"></div>
                    <div class="h-6 bg-gray-200 rounded w-1/5"></div>
                </div>
            </div>
        </ng-template>
    </div>
</div>

<!-- No Stations Message -->
<ng-template #noStations>
    <p class="text-center text-gray-500">No Stations Available</p>
</ng-template>