<!-- Navbar -->
<div
    class="fixed top-0 left-0 w-full h-16 bg-accent text-primary font-bold text-2xl tracking-wide flex justify-between items-center px-6 z-50">
    <div
        class="flex items-center p-1 border-2 border-accent rounded-md cursor-pointer transition-colors duration-300 ease-in-out">
        <!-- Logo -->
        <img src="assets/logo/Logo.png" alt="Logo" class="h-10 w-auto rounded-sm mr-2" />



        NKSS WatchWare
    </div>
    <div class="flex items-center space-x-4">
        <button
            class="bg-primary text-accent px-4 py-2 rounded-md font-semibold text-sm flex items-center space-x-2 hover:bg-secondary hover:text-primary transition-colors duration-300 ease-in-out"
            (click)="onLogout()">
            <i class="fas fa-sign-out-alt"></i>
            <span>Logout</span>
        </button>
    </div>

</div>


<!-- Sidebar -->
<!-- Sidebar -->
<div class="fixed left-0 top-16 h-[calc(100vh-4rem)] bg-primary shadow-lg flex flex-col transition-all duration-300 ease-in-out z-50"
    [ngClass]="{ 'w-64': !isCollapsed, 'w-20': isCollapsed }">


    <!-- Toggle Button -->
    <!-- <button (click)="toggleSidebar()"
        class="p-2 m-2 bg-accent text-white rounded-md focus:outline-none flex items-center justify-center">
        <i class="fas fa-bars text-lg"></i>
    </button> -->

    <!-- Menu List -->

    <ul class="flex-1 mt-2 overflow-y-auto">
        <!-- <div class="pb-3 shadow-sm border-b">
            <div
                class="border border-gray-400 rounded-md m-2 h-10 flex items-center px-3 space-x-2 hover:border-accent">
                <input type="text" class="focus:outline-none flex-1" placeholder="Search" />
                <i class="fa fa-terminal"></i>
            </div>
        </div> -->



        <li *ngFor="let item of menuItems" class="m-2">
            <a *ngIf="!item.children" [routerLink]="item.route" routerLinkActive="active"
                class="flex items-center p-2 rounded-md transition-all duration-200" [ngClass]="{
         'bg-secondary text-white': isActive(item.route),
         'text-gray-600 hover:bg-gray-200 hover:text-accent': !isActive(item.route),
         'justify-center': isCollapsed,
         'justify-start': !isCollapsed
       }">
                <i [class]="item.icon + ' text-xl'"></i>
                <span *ngIf="!isCollapsed" class="ml-2">{{ item.title }}</span>
            </a>

            <div *ngIf="item.children" class="flex flex-col">
                <button (click)="toggleDropdown(item)"
                    class="flex items-center p-2 rounded-md transition-all duration-200 w-full" [ngClass]="{
            'bg-secondary text-white': isActiveParent(item.children),
            'text-gray-600 hover:bg-gray-200 hover:text-accent': !isActiveParent(item.children),
            'justify-center': isCollapsed,
            'justify-start': !isCollapsed
          }">
                    <i [class]="item.icon + ' text-xl'"></i>
                    <span *ngIf="!isCollapsed" class="ml-2">{{ item.title }}</span>
                    <i *ngIf="!isCollapsed" class="ml-auto"
                        [class]="item.expanded ? 'fas fa-chevron-up' : 'fas fa-chevron-down'"></i>
                </button>

                <ul *ngIf="item.expanded && !isCollapsed" class="pl-6">

                    <li *ngFor="let child of item.children" class="m-2">
                        <a [routerLink]="child.route" routerLinkActive="active"
                            class="flex items-center p-2 rounded-md transition-all duration-200" [ngClass]="{
               'bg-secondary text-white': isActive(child.route),
               'text-gray-600 hover:text-accent hover:bg-gray-200': !isActive(child.route)
             }">
                            <i [class]="child.icon + ' text-lg'"></i>
                            <span [pTooltip]="child.title" tooltipPosition="right"
                                class="ml-2 text-nowrap overflow-hidden text-ellipsis">{{
                                child.title }}</span>
                            <!-- <div class="relative overflow-hidden w-[150px] group">
                                <span
                                    class="ml-2 whitespace-nowrap inline-block transition-all duration-500 ease-in-out"
                                    style="display: inline-block; transform: translateX(0); transition: transform 6s linear;"
                                    onmouseover="this.style.transform='translateX(-100%)'"
                                    onmouseout="this.style.transform='translateX(0)'">
                                    {{ child.title }}
                                </span>
                            </div> -->

                        </a>
                    </li>
                    <li *ngIf="item.title === 'Industry' && CompanyLoading" class="text-gray-500 italic p-2">
                        <i class="fas fa-spinner fa-spin"></i> Loading companies...
                    </li>
                </ul>
            </div>
        </li>
    </ul>

    <div
        class="hover:cursor-pointer hover:bg-gray-200 hover:text-accent p-4 text-center text-gray-600 text-sm border-t border-gray-300 flex items-center justify-center space-x-2">
        <i class="fas fa-user-circle text-lg"></i>
        <span *ngIf="!isCollapsed">Welcome, {{Username}}</span>
    </div>

</div>