<div class="flex justify-center items-center min-h-screen"
    style="background: url('/assets/logo/login background.jpg') no-repeat center center / cover;">


    <div class="fixed top-0 left-0 px-6 py-4 text-primary font-bold text-2xl ">
        <div class="flex items-start">
            <img src="assets/logo/Logo.png" alt="Logo" class="h-10 w-auto rounded-sm mr-2" />
            <span class="py-1">NKSS WatchWare</span>
        </div>
    </div>
    <div class="fixed top-0 right-0 px-6 py-4 text-primary font-bold text-2xl ">
        <button type="button" (click)="onLogin()"
            class="flex items-start hover:cursor-pointer border rounded  hover:bg-primary hover:text-accent transition-colors duration-150">
            <i class="fa fa-user px-4 py-1"></i><span class="text-base py-1 pr-4 font-semibold">Login</span>
        </button>
    </div>

    <div class="bg-white bg-opacity-75 p-8 rounded-lg shadow-lg w-[50%]">
        <h2 class="text-gray-900 text-xl font-bold mb-4">Software Registration</h2>
        <div *ngIf="StatusLoading; else content">
            <div class="animate-pulse">
                <div class="h-4 bg-gray-300 rounded w-3/4 mb-2"></div>
                <div class="h-4 bg-gray-300 rounded w-1/2"></div>
                <div class="h-6 bg-gray-300 rounded w-full mt-4"></div>
            </div>
            <p class="text-gray-500 mt-2">Loading License Status...</p>
        </div>
        <ng-template #content>
            <div *ngIf="isNotExpired; else registrationForm">
                <p class="text-green-600 font-medium">✅ Your license is valid and not expired.</p>
                <p class="text-gray-600">You can continue using the software without re-registration.</p>
            </div>
            <ng-template #registrationForm>
                <div class="grid grid-cols-1 lg:grid-cols-8 gap-4">
                    <div class="lg:col-span-8">

                        <p class="text-gray-600 text-sm">Provide license for the software.</p>
                    </div>

                    <div class="lg:col-span-10">
                        <form [formGroup]="licenseForm" (ngSubmit)="onSubmit()">
                            <div class="grid grid-cols-1 md:grid-cols-1 gap-4">



                                <!-- State -->
                                <div>
                                    <label for="LicenseKey" class="text-gray-700 font-medium">License</label>
                                    <input id="LicenseKey" type="text" formControlName="LicenseKey" required
                                        class="w-full p-2 border border-gray-400 rounded-md focus:ring focus:ring-blue-300">
                                    <small
                                        *ngIf="licenseForm.get('LicenseKey')?.invalid && licenseForm.get('LicenseKey')?.touched"
                                        class="text-red-500">License is required</small>
                                </div>

                                <!-- <div *ngIf="!isExpired"> -->
                                <hr class="mt-4 mb-5" />

                                <p class="text-gray-600 text-sm mb-5">Provide user account details.</p>
                                <div>
                                    <label for="Password" class="text-gray-700 font-medium">Password</label>
                                    <input id="Password" [type]="showPassword ? 'text' : 'password'"
                                        autocomplete="new-password" formControlName="Password" required
                                        class="w-full p-2 border border-gray-400 rounded-md focus:ring focus:ring-blue-300">
                                    <div class="flex justify-between mt-2">
                                        <button type="button" (click)="togglePassword()">
                                            <i *ngIf="!showPassword" class="fa fa-lock text-gray-600"></i>
                                            <i *ngIf="showPassword" class="fa fa-unlock text-gray-600"></i>
                                            <span class="pl-2 text-gray-600 text-sm">Show password</span>
                                        </button>
                                    </div>
                                    <small
                                        *ngIf="licenseForm.get('Password')?.invalid && licenseForm.get('Password')?.touched"
                                        class="text-red-500">Password is required</small>
                                </div>

                                <div>
                                    <label for="Email" class="text-gray-700 font-medium">Email</label>
                                    <input id="Email" type="email" formControlName="Email" required
                                        autocomplete="new-password"
                                        class="w-full p-2 border border-gray-400 rounded-md focus:ring focus:ring-blue-300">
                                    <small
                                        *ngIf="licenseForm.get('Email')?.invalid && licenseForm.get('Email')?.touched"
                                        class="text-red-500"><ng-container
                                            *ngIf="licenseForm.get('Email')?.errors?.['required']">Email is
                                            required</ng-container>
                                        <ng-container *ngIf="licenseForm.get('Email')?.errors?.['email']">Invalid email
                                            format</ng-container></small>
                                </div>

                                <div>
                                    <label for="PhoneNumber" class="text-gray-700 font-medium">PhoneNumber</label>
                                    <input id="PhoneNumber" type="number" formControlName="PhoneNumber" required
                                        class="w-full p-2 border border-gray-400 rounded-md focus:ring focus:ring-blue-300">
                                    <small
                                        *ngIf="licenseForm.get('PhoneNumber')?.invalid && licenseForm.get('PhoneNumber')?.touched"
                                        class="text-red-500"><ng-container
                                            *ngIf="licenseForm.get('PhoneNumber')?.errors?.['required']">Phone Number is
                                            required</ng-container>
                                        <ng-container *ngIf="licenseForm.get('PhoneNumber')?.errors?.['pattern']">Phone
                                            Number
                                            must
                                            be
                                            10 digits</ng-container>
                                        <ng-container
                                            *ngIf="licenseForm.get('PhoneNumber')?.errors?.['maxLength']">Phone
                                            Number
                                            is
                                            too
                                            long</ng-container></small>
                                </div>
                                <!-- </div> -->



                            </div>
                            <!-- Address -->

                            <!-- Submit Button -->
                            <div class="mt-4 flex gap-4">
                                <button type="submit" [disabled]="Loading"
                                    class="mt-1 px-4 py-2 bg-accent text-white rounded-md hover:bg-secondary transition disabled:bg-gray-500 disabled:cursor-not-allowed">
                                    <span *ngIf="Loading">
                                        <i class="fas fa-spinner fa-spin mr-2"></i>
                                    </span>
                                    <span>Load Product Details</span>
                                </button>
                                <button type="button" (click)="onLogin()"
                                    class="bg-accent text-white px-4 py-2 mt-1 rounded-md shadow hover:bg-secondary transition-colors">
                                    Login
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </ng-template>
        </ng-template>
    </div>


</div>
<p-dialog [(visible)]="ShowUserDetails" [modal]="true" [closable]="true" [header]="'Admin Account Created'"
    [style]="{width: '700px'}">
    <div>
        <p class="text-sm"><strong>Username:</strong> Admin</p>
        <p class="text-sm"><strong>Password:</strong> The password you entered during registration.</p>
        <p class="text-sm">Please save these credentials securely.</p>
    </div>
</p-dialog>



<p-dialog [(visible)]="displayDialog" [modal]="true" [closable]="true" [header]="'Registered Information'"
    [style]="{width: '700px'}">
    <div *ngIf="ProductDetails" class="grid grid-cols-2 gap-6">

        <div>
            <h2 class="text-base font-normal">Company Details</h2>
            <hr class="my-3">
            <p><strong>Name:</strong> {{ ProductDetails.CompanyDetails.Name }}</p>
            <p><strong>Country:</strong> {{ ProductDetails.CompanyDetails.Country }}</p>
            <p><strong>State:</strong> {{ ProductDetails.CompanyDetails.State }}</p>
            <p><strong>Address:</strong> {{ ProductDetails.CompanyDetails.Address }}</p>
            <p><strong>Phone:</strong> {{ ProductDetails.CompanyDetails.Phone }}</p>
            <p><strong>Email:</strong> {{ ProductDetails.CompanyDetails.Email }}</p>
        </div>


        <div>
            <h2 class="text-base font-normal">Registration Details</h2>
            <hr class="my-3">
            <p><strong>Email:</strong> {{ ProductDetails.Email }}</p>
            <p><strong>Country:</strong> {{ ProductDetails.Country }}</p>
            <p><strong>State:</strong> {{ ProductDetails.State }}</p>
            <p><strong>Address:</strong> {{ ProductDetails.Address }}</p>
            <p><strong>Phone:</strong> {{ ProductDetails.Phone }}</p>
        </div>
    </div>


    <div class="mt-4 flex justify-center gap-4">
        <button type="submit" [disabled]="ProductDetailsLoading" (click)="registerProduct()"
            class="px-4 py-2 bg-accent text-white rounded-md hover:bg-secondary transition disabled:bg-gray-500 disabled:cursor-not-allowed">
            <span *ngIf="ProductDetailsLoading">
                <i class="fas fa-spinner fa-spin mr-2"></i>
            </span>
            <span>Register</span>
        </button>
        <button (click)="displayDialog=false" type="button"
            class="bg-gray-500 text-white px-4 py-2 rounded-md shadow hover:bg-gray-600">
            Cancel
        </button>
    </div>
</p-dialog>