<div class="flex justify-between items-center">
    <h2 class="text-2xl font-normal text-gray-500">Notifications - Channels Status</h2>
    <div class="flex">
        <button (click)="showPreferenceDialog=true" class=" px-4 py-1  bg-accent text-white  flex justify-center items-center gap-2
        rounded-md hover:bg-secondary transition duration-300"><i class="fa-solid fa-gear"></i>Preference</button>
        <button (click)="onCreateCondition()" class="ml-2 px-4 py-1  bg-accent text-white  flex justify-center items-center gap-2
        rounded-md hover:bg-secondary transition duration-300"><i class="fa-solid fa-code-branch"></i>Create
            Condition</button>
    </div>

</div>
<div class="my-5 border rounded-lg shadow-md p-4 bg-white">
    <p-table #dt [value]="Channels" dataKey="ChannelId" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]"
        [loading]="Loading" [(selection)]="SelectedChannels" showGridlines="" [paginator]="true"
        [globalFilterFields]="['ChannelName','StationName','Units']" [tableStyle]="{ 'min-width': '1000px' }">
        <ng-template #caption>
            <div class="flex">

                <button type="button" (click)="onMultiSubscribe()" [disabled]="MultiSubscribeLoading"
                    class=" px-4 bg-accent border border-accent text-primary rounded-md hover:bg-accent hover:text-primary transition">

                    <i *ngIf="MultiSubscribeLoading; else iconCheck" class="fas fa-spinner fa-spin"></i>
                    <ng-template #iconCheck>
                        <i class="fas fa-check"></i>
                    </ng-template>

                    {{ MultiSubscribeLoading ? 'Subscribing...' : 'Subscribe Selected Channels' }}
                </button>

                <button type="button" (click)="onManageContacts()"
                    class="flex items-center gap-2 px-4 mx-4 bg-accent border border-accent text-primary rounded-md hover:bg-secondary hover:border-secondary hover:text-primary transition">
                    <i class="fas fa-address-book"></i>
                    Manage Contacts
                </button>
                <p-iconfield iconPosition="left" class="ml-auto">
                    <p-inputicon>
                        <i class="fa fa-search"></i>
                    </p-inputicon>
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search keyword" />
                </p-iconfield>



            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th style="background-color:  var(--color-secondary) ;color: var(--color-primary);width:1%">
                    <p-tableHeaderCheckbox />
                </th>
                <th style="background-color:  var(--color-secondary) ;color: var(--color-primary);width:10%">Channel
                    Name
                </th>
                <th style="background-color:  var(--color-secondary) ;color: var(--color-primary);width:20%">
                    Station Name
                </th>
                <th style="background-color:  var(--color-secondary) ;color: var(--color-primary);width:5%">Units
                </th>
                <th style="background-color:  var(--color-secondary) ;color: var(--color-primary);width:5%">Action
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-channel>
            <tr>
                <td>
                    <p-tableCheckbox [value]="channel" />
                </td>
                <td>{{ channel.ChannelName }}</td>
                <td>{{ channel.StationName }}</td>
                <td>{{ channel.Units }}</td>
                <td>
                    <div class="flex gap-2">

                        <button *ngIf="channel.Subscribed" type="button" (click)="onEditSubscription(channel)"
                            class="px-2  text-orange-500 border border-orange-500 rounded-md hover:bg-orange-500 hover:text-white transition">
                            Edit Subscription
                        </button>
                        <button *ngIf="!channel.Subscribed" type="button" (click)="onSubscribe(channel)"
                            class="px-2  text-blue-500 border border-blue-500 rounded-md hover:bg-blue-500 hover:text-white transition">
                            Subsrcibe
                        </button>
                    </div>
                </td>

            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td colspan="9">No Channels found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="showPreferenceDialog" header="Notification Preference" [modal]="true" [closable]="true"
    [style]="{width: '30vw'}">
    <form [formGroup]="preferenceForm" (ngSubmit)="savePreference()" class="space-y-4">

        <div *ngFor="let option of notificationOptions" class="flex items-center gap-2">
            <p-radioButton name="preference" [value]="option.value" formControlName="preference"
                inputId="{{option.label}}">
            </p-radioButton>
            <label [for]="option.label" class="text-sm text-gray-700 cursor-pointer">{{ option.label }}</label>
        </div>

        <div class="flex justify-end gap-2 pt-4">
            <button type="button" (click)="showPreferenceDialog = false"
                class="px-4 py-2 text-sm bg-gray-100 text-gray-700 rounded hover:bg-gray-200">
                Cancel
            </button>
            <button type="submit" [disabled]="UpdatePreferenceLoading"
                class="px-4 py-2 text-sm bg-accent text-primary border border-accent rounded hover:bg-opacity-80 transition flex items-center gap-2">

                <i *ngIf="UpdatePreferenceLoading" class="fas fa-spinner fa-spin"></i>
                {{ UpdatePreferenceLoading ? 'Saving...' : 'Save' }}
            </button>

        </div>
    </form>
</p-dialog>