<ng-container *ngIf="isLoginPage; else mainLayout">
  <div class="flex">
    <div class="flex-1 h-screen pt-0 pb-0 pr-3 transition-all duration-300 ease-in-out">
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-container>

<ng-template #mainLayout>
  <div class="flex">
    <app-sidebar *ngIf="!isLoginPage" (collapseChange)="isCollapsed = $event"></app-sidebar>
    <div class="flex-1 h-screen pt-24 pb-2 pr-3 transition-all duration-300 ease-in-out"
      [ngClass]="{ 'pl-28': !isLoginPage && isCollapsed, 'pl-72': !isLoginPage && !isCollapsed }">
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-template>