<div class="flex justify-between items-center">
    <h2 class="text-2xl font-normal text-gray-500">CPCB Stations Configuration</h2>
    <div class="flex">
        <button (click)="showUploadSettingsForm()" class="px-4 py-1  bg-accent text-white  flex justify-center items-center gap-2
        rounded-md hover:bg-secondary transition duration-300"><i class="fa-solid fa-gear"></i>Upload Settings</button>
    </div>
</div>
<div class="my-5 border rounded-lg shadow-md p-4 bg-white">
    <p-table #dt [value]="StationConfigurations" dataKey="Id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]"
        [loading]="StationConfigurationsLoading" showGridlines="" [paginator]="true"
        [globalFilterFields]="['StationName', 'CPCB_StationId','CPCB_UserName','CPCB_Password']"
        [tableStyle]="{ 'min-width': '1000px' }">
        <ng-template #caption>
            <div class="flex">
                <button type="button" (click)="onCreate()"
                    class=" px-4 bg-accent border border-accent text-primary rounded-md hover:bg-accent hover:text-primary transition">
                    <i class="fa fa-plus"></i>
                    Create
                </button>
                <p-iconfield iconPosition="left" class="ml-auto">
                    <p-inputicon>
                        <i class="fa fa-search"></i>
                    </p-inputicon>
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search keyword" />
                </p-iconfield>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th style="background-color:  var(--color-secondary) ;color: var(--color-primary);width:5%">Station
                </th>
                <th style="background-color:  var(--color-secondary) ;color: var(--color-primary);width:5%">
                    CPCB Station Id
                </th>
                <th style="background-color:  var(--color-secondary) ;color: var(--color-primary);width:5%">CPCB
                    UserName
                </th>
                <th style="background-color:  var(--color-secondary) ;color: var(--color-primary);width:5%">CPCB
                    Password
                </th>
                <th style="background-color:  var(--color-secondary) ;color: var(--color-primary);width:2%">Action
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-config>
            <tr>
                <td>{{config.StationName}}</td>
                <td>{{config.CPCB_StationId}}</td>
                <td>{{config.CPCB_UserName}}</td>
                <td>{{config.CPCB_Password}}</td>



                <td>
                    <div class="flex gap-2">

                        <button type="button" (click)="onEdit(config)"
                            class="px-2 text-green-500 border border-green-500 rounded-md hover:bg-green-500 hover:text-white transition">
                            <i class="fa fa-pencil-alt"></i>
                        </button>


                        <button type="button" (click)="onDelete(config)"
                            class="px-2 text-red-500 border border-red-500 rounded-md hover:bg-red-500 hover:text-white transition">
                            <i class="fa fa-trash"></i>
                        </button>
                        <button type="button" (click)="onChannels(config)"
                            class="px-2  text-blue-500 border border-blue-500 rounded-md hover:bg-blue-500 hover:text-white transition">
                            Channels Configuration
                        </button>
                    </div>
                </td>

            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td colspan="7">No Station Configurations found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-confirmdialog #cd>
    <ng-template #headless let-message let-onAccept="onAccept" let-onReject="onReject">
        <div class="flex flex-col items-center p-8 bg-surface-0 dark:bg-surface-900 rounded">
            <div
                class="rounded-full bg-primary text-primary-contrast inline-flex justify-center items-center h-24 w-24 -mt-20">
                <i class="fa fa-trash !text-5xl"></i>
            </div>
            <span class="font-bold text-2xl block mb-2 mt-6">{{ message.header }}</span>
            <p class="mb-0">{{ message.message }}</p>
            <div class="flex items-center gap-2 mt-6">
                <button
                    [ngClass]="'mt-1 px-4 py-2 bg-red-500 text-white rounded-md hover:bg-red-700 transition disabled:bg-gray-500 disabled:cursor-not-allowed'"
                    (click)="onAccept()" class="w-32">Delete</button>
                <button
                    [ngClass]="'mt-1 px-4 py-2 bg-green-500 text-white rounded-md hover:bg-green-700 transition disabled:bg-gray-500 disabled:cursor-not-allowed'"
                    (click)="onReject()" class="w-32">Cancel</button>
            </div>
        </div>
    </ng-template>
</p-confirmdialog>


<p-dialog header="Upload Settings" [(visible)]="ShowUploadOptions" [modal]="true" [style]="{ width: '500px' }"
    [contentStyle]="{ padding: '1rem' }" [closable]="true">
    <form [formGroup]="uploadForm" (ngSubmit)="saveUploadSettings()">
        <div class="space-y-4">

            <div>
                <label for="liveUrl" class="block text-sm font-medium text-gray-700">Live URL</label>
                <input id="liveUrl" type="text" formControlName="liveUrl"
                    class="mt-1 block w-full rounded-md border border-gray-300 px-3 py-2 shadow-sm focus:border-blue-500 focus:outline-none focus:ring focus:ring-blue-200" />
                <div *ngIf="(uploadForm.get('liveUrl')?.touched) && uploadForm.get('liveUrl')?.invalid"
                    class="text-sm text-red-500 mt-1">
                    <span *ngIf="uploadForm.get('liveUrl')?.hasError('required')">This field is
                        required.</span>
                </div>
            </div>

            <div>
                <label for="delayUrl" class="block text-sm font-medium text-gray-700">Delay URL</label>
                <input id="delayUrl" type="text" formControlName="delayUrl"
                    class="mt-1 block w-full rounded-md border border-gray-300 px-3 py-2 shadow-sm focus:border-blue-500 focus:outline-none focus:ring focus:ring-blue-200" />
                <div *ngIf="(uploadForm.get('delayUrl')?.touched) && uploadForm.get('delayUrl')?.invalid"
                    class="text-sm text-red-500 mt-1">
                    <span *ngIf="uploadForm.get('delayUrl')?.hasError('required')">This field is
                        required.</span>
                </div>
            </div>

            <div>
                <label for="liveInterval" class="block text-sm font-medium text-gray-700">Live Interval (in
                    seconds)</label>
                <input id="liveInterval" min="60" type="number" formControlName="liveInterval"
                    class="mt-1 block w-full rounded-md border border-gray-300 px-3 py-2 shadow-sm focus:border-blue-500 focus:outline-none focus:ring focus:ring-blue-200" />
                <div *ngIf="(uploadForm.get('liveInterval')?.touched) && uploadForm.get('liveInterval')?.invalid"
                    class="text-sm text-red-500 mt-1">
                    <span *ngIf="uploadForm.get('liveInterval')?.hasError('required')">This field is required.</span>
                    <span *ngIf="uploadForm.get('liveInterval')?.hasError('min')">Must be greater 60 seconds or
                        more.</span>
                </div>
            </div>

            <div>
                <label for="delayInterval" class="block text-sm font-medium text-gray-700">Delay Interval (in
                    seconds)</label>
                <input id="delayInterval" min="60" type="number" formControlName="delayInterval"
                    class="mt-1 block w-full rounded-md border border-gray-300 px-3 py-2 shadow-sm focus:border-blue-500 focus:outline-none focus:ring focus:ring-blue-200" />
                <div *ngIf="(uploadForm.get('delayInterval')?.touched) && uploadForm.get('delayInterval')?.invalid"
                    class="text-sm text-red-500 mt-1">
                    <span *ngIf="uploadForm.get('delayInterval')?.hasError('required')">This field is required.</span>
                    <span *ngIf="uploadForm.get('delayInterval')?.hasError('min')">Must be greater 60 seconds or
                        more.</span>
                </div>
            </div>

            <div>
                <label for="liveNumberOfRecords" class="block text-sm font-medium text-gray-700">Live Number of
                    Records</label>
                <input id="liveNumberOfRecords" min="1" type="number" formControlName="liveNumberOfRecords"
                    class="mt-1 block w-full rounded-md border border-gray-300 px-3 py-2 shadow-sm focus:border-blue-500 focus:outline-none focus:ring focus:ring-blue-200" />
                <div *ngIf="(uploadForm.get('liveNumberOfRecords')?.touched) && uploadForm.get('liveNumberOfRecords')?.invalid"
                    class="text-sm text-red-500 mt-1">
                    <span *ngIf="uploadForm.get('liveNumberOfRecords')?.hasError('required')">This field is
                        required.</span>
                    <span *ngIf="uploadForm.get('liveNumberOfRecords')?.hasError('min')">Must be 1 record or
                        more.</span>
                </div>
            </div>

            <div>
                <label for="delayNumberOfRecords" class="block text-sm font-medium text-gray-700">Delay Number of
                    Records</label>
                <input id="delayNumberOfRecords" min="1" type="number" formControlName="delayNumberOfRecords"
                    class="mt-1 block w-full rounded-md border border-gray-300 px-3 py-2 shadow-sm focus:border-blue-500 focus:outline-none focus:ring focus:ring-blue-200" />
                <div *ngIf="(uploadForm.get('delayNumberOfRecords')?.touched) && uploadForm.get('delayNumberOfRecords')?.invalid"
                    class="text-sm text-red-500 mt-1">
                    <span *ngIf="uploadForm.get('delayNumberOfRecords')?.hasError('required')">This field is
                        required.</span>
                    <span *ngIf="uploadForm.get('delayNumberOfRecords')?.hasError('min')">Must be 1 record or
                        more.</span>
                </div>
            </div>
        </div>

        <div class="mt-6 flex justify-end space-x-2">
            <button type="button" class="px-4 py-2 rounded-md border border-gray-300 text-gray-700 hover:bg-gray-100"
                (click)="closeUploadSettingsForm()">
                Cancel
            </button>
            <button type="submit" [disabled]="uploadOptionLoading"
                class="px-4 py-2 rounded-md bg-accent text-white hover:bg-secondary transition-colors disabled:opacity-50 disabled:cursor-not-allowed flex items-center justify-center space-x-2">

                <i *ngIf="uploadOptionLoading" class="fa fa-spinner fa-spin"></i>
                <span>{{ uploadOptionLoading ? 'Saving...' : 'Save' }}</span>

            </button>


        </div>
    </form>
</p-dialog>