<div *ngIf="station" class="">
    <h2 class="text-2xl font-normal text-gray-500">Channels of {{station.Name}}</h2>
</div>
<div class="my-5 border rounded-lg shadow-md p-4 bg-white">
    <p-table #dt [value]="Channels" dataKey="Id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [loading]="Loading"
        showGridlines="" [paginator]="true" [globalFilterFields]="['Oxide', 'Name','Protocol','LoggingUnits']"
        [tableStyle]="{ 'min-width': '1000px' }">
        <ng-template #caption>
            <div class="flex">
                <button type="button" (click)="onCreate()"
                    class=" px-4 bg-accent border border-accent text-primary rounded-md hover:bg-accent hover:text-primary transition">
                    <i class="fa fa-plus"></i>
                    Create
                </button>
                <p-iconfield iconPosition="left" class="ml-auto">
                    <p-inputicon>
                        <i class="fa fa-search"></i>
                    </p-inputicon>
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search keyword" />
                </p-iconfield>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th style="background-color:  var(--color-secondary) ;color: var(--color-primary);width:10%">Name
                </th>
                <th style="background-color:  var(--color-secondary) ;color: var(--color-primary);width:5%">
                    Oxide
                </th>
                <th style="background-color:  var(--color-secondary) ;color: var(--color-primary);width:5%">Logging
                    Units
                </th>
                <th style="background-color:  var(--color-secondary) ;color: var(--color-primary);width:15%">Protocol
                </th>

                <th style="background-color:  var(--color-secondary) ;color: var(--color-primary);width:5%">SPCB</th>
                <th style="background-color:  var(--color-secondary) ;color: var(--color-primary);width:5%">CPCB
                </th>
                <th style="background-color:  var(--color-secondary) ;color: var(--color-primary);width:5%">Active
                </th>
                <th style="background-color:  var(--color-secondary) ;color: var(--color-primary);width:5%">Created On
                </th>
                <th style="background-color:  var(--color-secondary) ;color: var(--color-primary);width:5%">Action
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-channel>
            <tr>
                <td>{{ channel.Name }}</td>
                <td>{{ channel.Oxide }}</td>
                <td>{{ channel.LoggingUnits }}</td>
                <td>{{ channel.Protocol }}</td>
                <td>
                    <i class="fa" [ngClass]="{
                        'text-green-500 fa-circle-check': channel.IsSpcb,
                        'text-red-500 fa-circle-xmark': !channel.IsSpcb
                    }"></i>
                </td>
                <td>
                    <i class="fa" [ngClass]="{
                        'text-green-500 fa-circle-check': channel.IsCpcb,
                        'text-red-500 fa-circle-xmark': !channel.IsCpcb
                    }"></i>
                </td>

                <td>
                    <i class="fa" [ngClass]="{
                        'text-green-500 fa-circle-check': channel.Active,
                        'text-red-500 fa-circle-xmark': !channel.Active
                    }"></i>
                </td>
                <td>{{ channel.CreatedOn | date:'yyyy-MMM-dd' }}</td>
                <td>
                    <div class="flex gap-2">

                        <button type="button" (click)="onEdit(channel)"
                            class="px-2 text-green-500 border border-green-500 rounded-md hover:bg-green-500 hover:text-white transition">
                            <i class="fa fa-pencil-alt"></i>
                        </button>


                        <button type="button" (click)="onDelete(channel)"
                            class="px-2 text-red-500 border border-red-500 rounded-md hover:bg-red-500 hover:text-white transition">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </td>

            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td colspan="9">No Channels found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<p-confirmdialog #cd>
    <ng-template #headless let-message let-onAccept="onAccept" let-onReject="onReject">
        <div class="flex flex-col items-center p-8 bg-surface-0 dark:bg-surface-900 rounded">
            <div
                class="rounded-full bg-primary text-primary-contrast inline-flex justify-center items-center h-24 w-24 -mt-20">
                <i class="fa fa-trash !text-5xl"></i>
            </div>
            <span class="font-bold text-2xl block mb-2 mt-6">{{ message.header }}</span>
            <p class="mb-0">{{ message.message }}</p>
            <div class="flex items-center gap-2 mt-6">
                <button
                    [ngClass]="'mt-1 px-4 py-2 bg-red-500 text-white rounded-md hover:bg-red-700 transition disabled:bg-gray-500 disabled:cursor-not-allowed'"
                    (click)="onAccept()" class="w-32">Delete</button>
                <button
                    [ngClass]="'mt-1 px-4 py-2 bg-green-500 text-white rounded-md hover:bg-green-700 transition disabled:bg-gray-500 disabled:cursor-not-allowed'"
                    (click)="onReject()" class="w-32">Cancel</button>
            </div>
        </div>
    </ng-template>
</p-confirmdialog>