<div class="flex justify-center items-center min-h-screen"
    style="background: url('/assets/logo/login background.jpg') no-repeat center center / cover;">

    <div class="fixed top-0 left-0 px-6 py-4 text-primary font-bold text-2xl ">
        <div class="flex items-start">
            <img src="assets/logo/Logo.png" alt="Logo" class="h-10 w-auto rounded-sm mr-2" />
            <span class="py-1">NKSS WatchWare</span>
        </div>
    </div>
    <div class="fixed top-0 right-0 px-6 py-4 text-primary font-bold text-2xl ">
        <button type="button" (click)="onLicense()"
            class="flex items-start hover:cursor-pointer border rounded  hover:bg-primary hover:text-accent transition-colors duration-150">
            <i class="fa fa-key px-4 py-1"></i><span class="text-base py-1 pr-4 font-semibold">Register</span>
        </button>
    </div>


    <div class="bg-white bg-opacity-75 p-8 rounded-lg shadow-lg w-96">

        <div class="mb-4 text-center">
            <h2 class="text-gray-900 text-2xl font-bold mb-2">Log in</h2>
            <p class="text-gray-600 font-medium">Please enter your details</p>
        </div>


        <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="space-y-4">

            <div class="relative">
                <input id="username" type="text" required
                    class="w-full p-3 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none"
                    placeholder="Username" formControlName="username">
                <span class="absolute inset-y-0 left-3 flex items-center text-gray-400">

                </span>
            </div>

            <div class="relative">
                <input id="password" [type]="hide ? 'password' : 'text'" required
                    class="w-full p-3 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none"
                    placeholder="Password" formControlName="password">
            </div>
            <div class="flex justify-between">
                <button type="button" (click)="hide=!hide">
                    <i *ngIf="hide" class="fa fa-lock text-gray-600"></i>
                    <i *ngIf="!hide" class="fa fa-unlock text-gray-600"></i>
                    <span class="pl-2 text-gray-600 text-sm">Show password</span>
                </button>
                <a class="text-blue-500 hover:underline hover:cursor-pointer text-sm">Forgot password?</a>
            </div>


            <button type="submit" [disabled]="loginForm.invalid || loading" class="w-full bg-accent text-white font-semibold p-3 flex justify-center items-center gap-2
    rounded-md hover:bg-secondary transition duration-300 disabled:bg-gray-300">

                <span *ngIf="loading">
                    <i class="fas fa-spinner fa-spin"></i>
                </span>
                <span *ngIf="!loading">

                </span>

                <span>Log in</span>
            </button>
        </form>
    </div>
</div>