<div class="flex justify-between items-center">
    <h2 class="text-3xl font-normal text-gray-500">Logs</h2>
    <button (click)="onRefresh()" class="px-4 py-1  bg-accent text-white  flex justify-center items-center gap-2
    rounded-md hover:bg-secondary transition duration-300"><i class="fa-solid fa-rotate-right"></i>Refresh</button>
</div>
<div class="my-5 border rounded-lg shadow-md p-4 bg-white">
    <p-selectbutton [options]="Types" [(ngModel)]="value" (ngModelChange)="loadLogs($event)" [multiple]="false"
        [allowEmpty]="false" optionLabel="label" optionValue="value" />

    <hr class="my-3" />
    <p-table #dt [value]="Logs" [paginator]="true" [rows]="8"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" showGridlines="true"
        [rowsPerPageOptions]="[8,10, 25, 50]" [globalFilterFields]="['Message']" [loading]="LogsLoading">

        <ng-template #caption>
            <div class="flex">

                <p-iconfield iconPosition="left" class="mr-auto">
                    <p-inputicon>
                        <i class="fa fa-search"></i>
                    </p-inputicon>
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)"
                        placeholder="Search Log Message" />
                </p-iconfield>
            </div>
        </ng-template>

        <ng-template #header>
            <tr>
                <th style="background-color:  var(--color-secondary) ;color: var(--color-primary);width: 5%;">Log
                    Type

                </th>
                <th style="background-color:  var(--color-secondary) ;color: var(--color-primary);width: 5%;">
                    Message
                </th>
                <th style="background-color:  var(--color-secondary) ;color: var(--color-primary);width: 5%;">Class
                </th>
                <th style="background-color:  var(--color-secondary) ;color: var(--color-primary);width: 5%;">
                    Timestamp
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-log>
            <tr>
                <td>
                    <p-tag [value]="log.LogType" [severity]="getSeverity(log.LogType)"></p-tag>
                </td>
                <td style="font-family: monospace;">{{ log.Message }}</td>


                <td style="font-family: monospace;">{{ log.Class }}</td>
                <td style="font-family: monospace;">{{ log.LogTimestamp | date: 'MMM/dd/yyyy HH:mm:ss.SSS'
                    }}</td>


            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td colspan="7">No Logs found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>