/* You can add global styles to this file, and also import other style files */

@import 'ngx-toastr/toastr';
@import url('assets/fonts/inter-fonts/inter.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #ffffff;
    /* Background */
    --color-secondary: #8EC04A;
    /* Hover/Accent */
    --color-accent: #1478B4;
}

body {
    font-family: 'Inter', sans-serif;
}